<!DOCTYPE html>
<html>

	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="/welcome/index"> homies Secret Santa </a></strong> 2015</h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<p> <i> It's beginning to look a lot like christmas </i></p>

				<ul class="actions">
					<li><%= button_to "Craft my Wishlist", "/auth/google_oauth2", id: "sign_in", :class =>"button special big"  %>
            <!--a href="form.html" class="button special big">Craft my Wishlist</a href="https://www.facebook.com/events/899697873432455/"<%= favicon_link_tag 'favicon.ico' %> class="icon fa-facebook"></li-->
				</ul>

				<p> </p>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/events/899697873432455/" class="icon fa-facebook">  </a></li>
					</ul>
					<ul class="copyright">
						<li>&copy;da#1homies</li>
						<li>Design:<a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>
